## Project - Seattle Airbnb Dataset  

BY Fabi Daniel

In [1]:
# import all necessary modules
import numpy as np
print('numpy: {}'.format(np.__version__))
import pandas as pd
print('pandas: {}'.format(pd.__version__))
from matplotlib import pyplot as plt
# print('matplotlib: {}'.format(matplotlib.__version__))
import seaborn as sns
print('seaborn: {}'.format(sns.__version__))
%matplotlib inline

numpy: 1.23.1
pandas: 1.4.3
seaborn: 0.11.2

In [2]:
#load dataset

calendar_df = pd.read_csv('/Users/cwrealestate/Downloads/archive 2/calendar.csv')
listings_df = pd.read_csv('/Users/cwrealestate/Downloads/archive 2/listings.csv')
reviews_df = pd.read_csv('/Users/cwrealestate/Downloads/archive 2/reviews.csv')

In [3]:
# Get overview of Calendar
calendar_df.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [4]:
# Get info 
calendar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393570 entries, 0 to 1393569
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1393570 non-null  int64
 1   date        1393570 non-null  object
 2   available   1393570 non-null  object
 3   price       934542 non-null   object
dtypes: int64(1), object(3)
memory usage: 42.5+ MB

* There are **4** Columns In calendar_df, **1,393,570** observations
* ['price'] with missing values

In [5]:
# See listings dataframe
listings_df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [6]:
# Get info
listings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3818 non-null   int64
 1   listing_url                       3818 non-null   object
 2   scrape_id                         3818 non-null   int64
 3   last_scraped                      3818 non-null   object
 4   name                              3818 non-null   object
 5   summary                           3641 non-null   object
 6   space                             3249 non-null   object
 7   description                       3818 non-null   object
 8   experiences_offered               3818 non-null   object
 9   neighborhood_overview             2786 non-null   object
 10  notes                             2212 non-null   object
 11  transit                           2884 non-null   object
 12  thumbnail_url                     3498 non-null   object
 13  medium_url                        3498 non-null   object
 14  picture_url                       3818 non-null   object
 15  xl_picture_url                    3498 non-null   object
 16  host_id                           3818 non-null   int64
 17  host_url                          3818 non-null   object
 18  host_name                         3816 non-null   object
 19  host_since                        3816 non-null   object
 20  host_location                     3810 non-null   object
 21  host_about                        2959 non-null   object
 22  host_response_time                3295 non-null   object
 23  host_response_rate                3295 non-null   object
 24  host_acceptance_rate              3045 non-null   object
 25  host_is_superhost                 3816 non-null   object
 26  host_thumbnail_url                3816 non-null   object
 27  host_picture_url                  3816 non-null   object
 28  host_neighbourhood                3518 non-null   object
 29  host_listings_count               3816 non-null   float64
 30  host_total_listings_count         3816 non-null   float64
 31  host_verifications                3818 non-null   object
 32  host_has_profile_pic              3816 non-null   object
 33  host_identity_verified            3816 non-null   object
 34  street                            3818 non-null   object
 35  neighbourhood                     3402 non-null   object
 36  neighbourhood_cleansed            3818 non-null   object
 37  neighbourhood_group_cleansed      3818 non-null   object
 38  city                              3818 non-null   object
 39  state                             3818 non-null   object
 40  zipcode                           3811 non-null   object
 41  market                            3818 non-null   object
 42  smart_location                    3818 non-null   object
 43  country_code                      3818 non-null   object
 44  country                           3818 non-null   object
 45  latitude                          3818 non-null   float64
 46  longitude                         3818 non-null   float64
 47  is_location_exact                 3818 non-null   object
 48  property_type                     3817 non-null   object
 49  room_type                         3818 non-null   object
 50  accommodates                      3818 non-null   int64
 51  bathrooms                         3802 non-null   float64
 52  bedrooms                          3812 non-null   float64
 53  beds                              3817 non-null   float64
 54  bed_type                          3818 non-null   object
 55  amenities                         3818 non-null   object
 56  square_feet                       97 non-null     float64
 57  price                             3818 non-null   object
 58  weekly_price                      2009 non-null   object
 59  monthly_price                     1517 non-null   object
 60  security_deposit                  1866 non-null   object
 61  cleaning_fee                      2788 non-null   object
 62  guests_included                   3818 non-null   int64
 63  extra_people                      3818 non-null   object
 64  minimum_nights                    3818 non-null   int64
 65  maximum_nights                    3818 non-null   int64
 66  calendar_updated                  3818 non-null   object
 67  has_availability                  3818 non-null   object
 68  availability_30                   3818 non-null   int64
 69  availability_60                   3818 non-null   int64
 70  availability_90                   3818 non-null   int64
 71  availability_365                  3818 non-null   int64
 72  calendar_last_scraped             3818 non-null   object
 73  number_of_reviews                 3818 non-null   int64
 74  first_review                      3191 non-null   object
 75  last_review                       3191 non-null   object
 76  review_scores_rating              3171 non-null   float64
 77  review_scores_accuracy            3160 non-null   float64
 78  review_scores_cleanliness         3165 non-null   float64
 79  review_scores_checkin             3160 non-null   float64
 80  review_scores_communication       3167 non-null   float64
 81  review_scores_location            3163 non-null   float64
 82  review_scores_value               3162 non-null   float64
 83  requires_license                  3818 non-null   object
 84  license                           0 non-null      float64
 85  jurisdiction_names                3818 non-null   object
 86  instant_bookable                  3818 non-null   object
 87  cancellation_policy               3818 non-null   object
 88  require_guest_profile_picture     3818 non-null   object
 89  require_guest_phone_verification  3818 non-null   object
 90  calculated_host_listings_count    3818 non-null   int64
 91  reviews_per_month                 3191 non-null   float64
dtypes: float64(17), int64(13), object(62)
memory usage: 2.7+ MB

* There are **91** columns in listings_df, **3,818** observations

In [7]:
# See reviews
reviews_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [9]:
# Get Info
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84849 entries, 0 to 84848
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     84849 non-null  int64
 1   id             84849 non-null  int64
 2   date           84849 non-null  object
 3   reviewer_id    84849 non-null  int64
 4   reviewer_name  84849 non-null  object
 5   comments       84831 non-null  object
dtypes: int64(3), object(3)
memory usage: 3.9+ MB

* There are **6** columns in reviews_df, **84,849** observations

### Data Assessment

In [10]:
listings_df.sample(10)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
1528,10125020,https://www.airbnb.com/rooms/10125020,20160104002432,2016-01-04,Historic loft in Pioneer Square,Located in the heart of historic Pioneer Squar...,NaN,Located in the heart of historic Pioneer Squar...,none,I love the old brick buildings and romance of ...,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
2012,4693488,https://www.airbnb.com/rooms/4693488,20160104002432,2016-01-04,Green Lake/Phinney/Greenwood Nugget,Our freshly updated basement apartment will be...,The perfect cozy spot for adventures all over ...,Our freshly updated basement apartment will be...,none,This neighborhood is awesome. A vibrant area w...,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,1,1.92
1067,938785,https://www.airbnb.com/rooms/938785,20160104002432,2016-01-04,Best Ocean Views By Pike Place! PA1,Post Alley Court offers amazing views of Ellio...,"Water views from balcony, only 1/2 block to Pi...",Post Alley Court offers amazing views of Ellio...,none,In the heart of Downtown Seattle! Nearby Attra...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.63
2556,3646393,https://www.airbnb.com/rooms/3646393,20160104002432,2016-01-04,Private Suite w Jacuzzi near UW!,Spacious bedroom and den with separate entry i...,We are world travelers and long-time Seattle r...,Spacious bedroom and den with separate entry i...,none,We are located on a quiet residential street i...,...,10.0,f,NaN,WASHINGTON,t,moderate,f,f,1,4.46
2767,1686958,https://www.airbnb.com/rooms/1686958,20160104002432,2016-01-04,Gorgeous Old Style Apartment,NaN,Our apartment is part of a large craftsman hom...,Our apartment is part of a large craftsman hom...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,moderate,f,f,1,NaN
1014,9416373,https://www.airbnb.com/rooms/9416373,20160104002432,2016-01-04,One bedroom… Great location.,One bedroom apartment close to downtown Seattl...,NaN,One bedroom apartment close to downtown Seattl...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
847,7648716,https://www.airbnb.com/rooms/7648716,20160104002432,2016-01-04,Central Dist King Bd & Ensuite Bath,In Aug and Sept this 2nd floor master bedroom ...,Our home is simple and comfortable. Our rooms...,In Aug and Sept this 2nd floor master bedroom ...,none,The Central District is historically one of th...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,4,0.97
1234,1472532,https://www.airbnb.com/rooms/1472532,20160104002432,2016-01-04,Downtown-5 mins walk to Pike Place!,NaN,We at Emerald Stays welcome you to our modern ...,We at Emerald Stays welcome you to our modern ...,none,NaN,...,9.0,f,NaN,WASHINGTON,f,strict,t,t,5,6.22
2882,430453,https://www.airbnb.com/rooms/430453,20160104002432,2016-01-04,"Space Needle Views, Downtown Apt",NaN,"A classic, 700+sq ft, 1bed / 1 bath apartment ...","A classic, 700+sq ft, 1bed / 1 bath apartment ...",none,NaN,...,9.0,f,NaN,WASHINGTON,f,moderate,f,f,3,1.46
236,1799255,https://www.airbnb.com/rooms/1799255,20160104002432,2016-01-04,Cozy Queen Anne Cottage,Stay in one of the best neighborhoods in Seatt...,My house was built in 1904 but has been remode...,Stay in one of the best neighborhoods in Seatt...,none,Seattle is a city of neighborhoods and Queen A...,...,10.0,f,NaN,WASHINGTON,f,flexible,f,f,1,2.29

##### Overview of listings_df

It has 91 columns

In [11]:
# Get an Overview of columns that are float
listings_df.loc[:,(listings_df.dtypes=='float64').values]

,host_listings_count,host_total_listings_count,latitude,longitude,bathrooms,bedrooms,beds,square_feet,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,reviews_per_month
0,3.0,3.0,47.636289,-122.371025,1.0,1.0,1.0,NaN,95.0,10.0,10.0,10.0,10.0,9.0,10.0,NaN,4.07
1,6.0,6.0,47.639123,-122.365666,1.0,1.0,1.0,NaN,96.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,1.48
2,2.0,2.0,47.629724,-122.369483,4.5,5.0,7.0,NaN,97.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,1.15
3,1.0,1.0,47.638473,-122.369279,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.0,2.0,47.632918,-122.372471,2.0,3.0,3.0,NaN,92.0,9.0,9.0,10.0,10.0,9.0,9.0,NaN,0.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,354.0,354.0,47.664295,-122.359170,2.0,3.0,3.0,NaN,80.0,8.0,10.0,4.0,8.0,10.0,8.0,NaN,0.30
3814,1.0,1.0,47.649552,-122.318309,1.0,1.0,2.0,NaN,100.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,2.00
3815,1.0,1.0,47.508453,-122.240607,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3816,1.0,1.0,47.632335,-122.275530,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3817,1.0,1.0,47.641186,-122.342085,1.5,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
test=(listings_df.dtypes=='object').values
type(test)

numpy.ndarray

In [12]:
# Get an Overview of columns that are Object
listings_df.loc[:,(listings_df.dtypes=='object').values]

,listing_url,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,...,has_availability,calendar_last_scraped,first_review,last_review,requires_license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification
0,https://www.airbnb.com/rooms/241032,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,NaN,NaN,...,t,2016-01-04,2011-11-01,2016-01-02,f,WASHINGTON,f,moderate,f,f
1,https://www.airbnb.com/rooms/953595,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",What's up with the free pillows? Our home was...,"Convenient bus stops are just down the block, ...",...,t,2016-01-04,2013-08-19,2015-12-29,f,WASHINGTON,f,strict,t,t
2,https://www.airbnb.com/rooms/3308979,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,Our house is located just 5 short blocks to To...,A bus stop is just 2 blocks away. Easy bus a...,...,t,2016-01-04,2014-07-30,2015-09-03,f,WASHINGTON,f,strict,f,f
3,https://www.airbnb.com/rooms/7421966,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,NaN,NaN,...,t,2016-01-04,NaN,NaN,f,WASHINGTON,f,flexible,f,f
4,https://www.airbnb.com/rooms/278830,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,Belltown,The nearest public transit bus (D Line) is 2 b...,...,t,2016-01-04,2012-07-10,2015-10-24,f,WASHINGTON,f,strict,f,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,https://www.airbnb.com/rooms/8101950,2016-01-04,3BR Mountain View House in Seattle,Our 3BR/2BA house boasts incredible views of t...,"Our 3BR/2BA house bright, stylish, and wheelch...",Our 3BR/2BA house boasts incredible views of t...,none,We're located near lots of family fun. Woodlan...,NaN,NaN,...,t,2016-01-04,2015-09-27,2015-09-27,f,WASHINGTON,f,strict,f,f
3814,https://www.airbnb.com/rooms/8902327,2016-01-04,Portage Bay View!-One Bedroom Apt,800 square foot 1 bedroom basement apartment w...,This space has a great view of Portage Bay wit...,800 square foot 1 bedroom basement apartment w...,none,The neighborhood is a quiet oasis that is clos...,This is a basement apartment in a newer reside...,Uber and Car2go are good options in Seattle. T...,...,t,2016-01-04,2015-12-18,2015-12-24,f,WASHINGTON,f,moderate,f,f
3815,https://www.airbnb.com/rooms/10267360,2016-01-04,Private apartment view of Lake WA,"Very comfortable lower unit. Quiet, charming m...",NaN,"Very comfortable lower unit. Quiet, charming m...",none,NaN,NaN,NaN,...,t,2016-01-04,NaN,NaN,f,WASHINGTON,f,moderate,f,f
3816,https://www.airbnb.com/rooms/9604740,2016-01-04,Amazing View with Modern Comfort!,Cozy studio condo in the heart on Madison Park...,Fully furnished unit to accommodate most needs...,Cozy studio condo in the heart on Madison Park...,none,Madison Park offers a peaceful slow pace upsca...,NaN,Yes,...,t,2016-01-04,NaN,NaN,f,WASHINGTON,f,moderate,f,f
3817,https://www.airbnb.com/rooms/10208623,2016-01-04,Large Lakefront Apartment,"All hardwood floors, fireplace, 65"" TV with Xb...",NaN,"All hardwood floors, fireplace, 65"" TV with Xb...",none,NaN,Also our puppy will be boarded away.,NaN,...,t,2016-01-04,NaN,NaN,f,WASHINGTON,f,flexible,f,f

In [ ]:
listings_df.loc[:,(listings_df.dtypes=='int').values]

In [ ]:
listings_df.loc[:,(listings_df.dtypes=='datetime').values]

There are no datetime columns in the listings_df. Clever to have separated the datetime.

In [ ]:
listings_df.columns

Due to the Number of columns, working with this table might be cumbersome. I will normalize the listings_df table into smaller tables with id being the key to the relationship

##### Overview of calendar_df

It has four columns

In [ ]:
calendar_df.loc[:,(calendar_df.dtypes=='datetime').values]

In [ ]:
print(calendar_df.columns)
calendar_df.info()

Column 'date' is not in right datatype

In [ ]:
calendar_df.date.dtypes

##### Overview of review_df

It has six columns

In [ ]:
reviews_df.info()

Column 'date' is not in right datatype

#### Data Cleaning and Normalization

Convert date to appropriate datatype

In [ ]:
# Convert calendar_df Date
calendar_df['date'] = pd.to_datetime(calendar_df.date, yearfirst=True)
calendar_df['date'].dtypes

In [ ]:
reviews_df['date'] = pd.to_datetime(reviews_df.date, yearfirst=True)
reviews_df['date'].dtypes

##### Check for duplicates

In [8]:
print(reviews_df.duplicated().sum())
print(calendar_df.duplicated().sum())
print(listings_df.duplicated().sum())

0
0
0

##### Data Normalization of Listing DataFrame

In [ ]:
# Normalize for listings_location for locational details

listings_location = listings_df[['id',
'name', 
'description', 
'neighbourhood', 
'city', 
'state', 
'is_location_exact',
 'zipcode',
 'market',
 'smart_location',
 'country_code',
 'country',
 'latitude',
 'longitude']]

listings_location.shape

listings_location has 9 columns

In [ ]:
# Normalize for listings_price for pricing details
listings_price = listings_df[['id', 
'price',
'weekly_price',
'monthly_price',
'security_deposit',
'cleaning_fee']]

listings_price.shape

In [ ]:
listings_df[['guests_included','extra_people']]

In [ ]:
listings_df[['minimum_nights',                    
'maximum_nights',                       
'has_availability',                
'availability_30',                
'availability_60',                    
'availability_90',   
'availability_365']]

listings_price has 8 columns

In [ ]:
# Normalize for listings_bedtails for bedding details

listings_bedtails = listings_df[['id', 
'property_type',
'room_type',
'accommodates',
'bathrooms',
'bedrooms',
'beds',
'bed_type',
'amenities',
'square_feet',
'amenities',
'square_feet']]

listings_bedtails

listings_bedtails has 8 columns

In [ ]:
listings_hosts = listings_df[['id', 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified']]

listings_hosts.shape

listings_hosts has 19 columns

In [ ]:
listings_review = listings_df[['id', 'number_of_reviews',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value']]


# listings_review
listings_review.shape

In [ ]:
listings_review.sample(10)

listings_review has 11 columns

In [ ]:
11+19+8+8+16+23

In [ ]:
type(list(listings_bedtails.columns))

In [ ]:

# for x in list2:
#   list1.append(x)



# for x in list2:
#   list1.append(x)

init_listings_col = list(listings_bedtails.columns).extend(listings_hosts.columns.values)
# type(init_listings_col)


# print(init_listings_col)
# for i in :
#     for i in listings_df.columns.to_list:
#     if

In [ ]:
listings_others=listings_df[['guests_included',
'extra_people',
'minimum_nights',
'maximum_nights',
'calendar_updated',
'has_availability',
'availability_30',
'availability_60',
'availability_90',
'availability_365',
'calendar_last_scraped','requires_license',
'license',
'jurisdiction_names',
'instant_bookable',
'cancellation_policy',
'require_guest_profile_picture',
'require_guest_phone_verification',
'calculated_host_listings_count',
'reviews_per_month']]

listings_others.shape

### Exploratory Data Analysis

First, I will calculate the occupancy rate of each listings. Occupancy Rate is a very important metric for short stays as it shows how well your apartment is performing, a High Occupancy Rate is considered good.
* To get the Occupancy Rate for each listing, I divide the Number of days the listing was occupied by the total period
* For total period, It is worthy to note that it is possible that listings might not have the same start date. To account for this, I will get the date difference for each listing; the difference between date of first instance and date of last instance

In [ ]:
# add aggregation by first and last 
df_agg= calendar_df.groupby(['listing_id']).agg({'date':['first','last']})

# Flatten Multiindex
df_agg.columns = df_agg.columns.map('_'.join)


# Convert to Date time
df_agg[['date_first','date_last']] = df_agg[['date_first','date_last']].apply(pd.to_datetime) #if conversion required

# Find Date difference
df_agg['date_diff'] = (df_agg['date_last'] - df_agg['date_first'])
df_agg.sample(10)

In [ ]:
df_agg['date_last'].value_counts()

* All the listings have the same date difference. Now, I can finally proceed to calculating the occupancy rate using 365 days as the denominator

In [ ]:
calendar_df

In [ ]:
# Calculate the Occupancy Count i.e. (where 'available' is 't')
occupancy = calendar_df.groupby('listing_id')['available'].apply(lambda x: (x=='t').sum()).reset_index(name='count')

# Create 'occupancy_rate' feature for each Listing.
occupancy['rate'] = (occupancy['count']*100)/365
occupancy.sample(20)

In [ ]:
# Get Distribution of occupancy rate
# plt.figure(figsize=(12,7))
plt.rcParams['figure.figsize']=[12,7]
occupancy['rate'].plot(kind='hist', bins=20)
plt.title('Distribution of Occupancy Rate')
plt.show()

Apparently, there are listings with a perfect record i.e. 100% occupancy rate and this group represents the majority

I will get a table for all listings with a perfect record.

In [ ]:
# Get a table of all listings with a perfect record

perfect_rec = occupancy[occupancy['rate'] == 100]
perfect_rec.info()

There are 678 listings with a perfect record 

I feel pressured to take a deeper dive to understand the characteristics of this particular group, but before then, I will peruse through the normalized llisting DataFrames

In [ ]:
# Check bed details 

listings_bedtails.sample(10)

In [ ]:

# Plot for Property Type
# Choose color for plot
def count_univ(data, y, color= sns.color_palette()[0]):
    order = data[y].value_counts().index

    sns.countplot(data=data, y=y, color=color, order=order)
    plt.title(f'Frequency of {y}')
    plt.ylabel(f'{y}', fontsize=12)
    plt.xlabel('Count', fontsize=12)
    plt.show()
count_univ(data=listings_bedtails,y='property_type')

In general, There are more houses than any other property type for short stay accommodation in Seattle. Following closely are Apartments.

The Margin for error is not known as it's common for owners when uploading to use a generic term 'House' for the property description

In [ ]:
# Plot for Room Type
count_univ(data=listings_bedtails,y='room_type')

As expected there are more listings let out in their entirety that there are shared or private rooms

Next is to check for bedrooms

In [ ]:
# Plot for Room Type
count_univ(data=listings_bedtails,y='bedrooms')

First thing to note from the visualization is the 0 bedrooms. This could be studio apartment that have both the bedroom and the living area as one single area.

Also, 1-Bedrooms are the most frequent bedroom type, representing majority of the dataset

Now, merging the listing_bedtails dataframe with my perfect_rec dataframe, I can get the bed details for the perfect record listings and see how they are represented in my perfect_rec dataframe

In [ ]:
# Merge Bed Details with Perfect record
temp_listings = perfect_rec.merge(listings_bedtails, how='left',left_on='listing_id',right_on='id',suffixes=('', '_drop'))

#Drop the duplicate columns
temp_listings.drop([col for col in temp_listings.columns if 'drop' in col], axis=1, inplace=True)

Plot for bedrooms for listings with Perfect Records

In [ ]:
# base_color = sns.color_palette()[0]

# temp_listings.bedrooms.value_counts(normalize=True).plot(kind='bar', color=base_color)
# # plt.xticks(rotation=45)
# temp_listings

# Plot for bedrooms for listings with Perfect Records
count_univ(data=temp_listings,y='bedrooms')

Apart from the fact that there are no 6 or 7 Bedrooms with a Perfect Record. This chart is similar to the one for all listings

In [ ]:
# Plot for Room Type for listings with Perfect Records
count_univ(data=temp_listings,y='room_type')

This is interesting, compared to the chart for all listings, private rooms have a very good representation when it comes to having Perfect Records. 

I would love to see the ratio of Private Rooms with Perfect Records to All Private Rooms

In [ ]:
# Plot for Property Type for listings with Perfect Records
count_univ(data=temp_listings,y='property_type')

The gap between the two leading property type has increased.

However, there are still more **Houses** with Perfect Records than any other property type for short stay accommodation in Seattle. Following closely are Apartments.

The Margin for error is not known as it's common for owners when uploading to use a generic term 'House' for the property description

In [ ]:
calendar_df

In [ ]:
# df_agg['diff'].value_counts()

In [ ]:
# temp_listings = listings_max.merge(listings_bedtails, how='left',left_on='id',right_on='id',suffixes=('', '_drop'))

# #Drop the duplicate columns
# temp_listings.drop([col for col in temp_listings.columns if 'drop' in col], axis=1, inplace=True)

# base_color = sns.color_palette()[0]

# temp_listings.beds.value_counts(normalize=True).plot(kind='bar', color=base_color)
# # plt.xticks(rotation=45)
# # temp_listings

In [ ]:
reviews_df.sample(10)

In [ ]:
reviews_count = reviews_df.groupby('listing_id')['listing_id'].count().sort_values(ascending=False).reset_index(name='review_count')

In [ ]:
reviews_count

In [ ]:
# occupancy_review = occupancy.merge(reviews_count, how='left',left_on='listing_id',right_on='listing_id',suffixes=('', '_drop'))


# x= occupancy_review['review_count']
# y = occupancy_review['rate']

# bins = np.arange(x.min(),x.max(),0.5)
# sns.regplot(data=occupancy_review, x=x, y=y,scatter_kws={'alpha': 1/20}, bins=bins)